
	<div id="filter" data-role="dialog" data-theme="c"> 
		<div data-role="content">
			<label for = "dateRange">Date Range</label>
			<div class="range" id = "dateRange">
					
				<input type="text" class="date" id = "dateSml" name = "createdDate" data-inline="true"/>
				<input type="text" class="date" id = "dateBig" name = "createdDate" data-inline="true" />
				
			</div>
			<label for = "block">Block</label>
			<select id = "block" name = "block" ><option></option></select>
		</div>
	</div>
	