<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<html class = "ui-mobile-rendering">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="stylesheet" href="/quickforms/css/quickforms/quickforms.css" />
	<script src = "/quickforms/js/require.min.js" ></script>
</head>
<body>
<div data-role="page" id="loadQuickformsTemplate">
	<script type="text/javascript">
	require(['/quickforms/js/quickforms.js'],function(){
			quickforms.registerReadyFunction(function()
			{
				require(['dom/tableControl'],
					function(){
						quickforms.loadTable(//appName*, queryName, parameterList*, callback*
							{queryName:'exampleQuery',
							parameterList:''});
					});
			});
		});
	</script>
	<div data-role ="content">
	<form id="tableTemplate">
		<h1>Example Table Control</h1>
		<table id ="mainData"></table>
	</form>
	</div>
</div>
</body>
</html>