<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<html class = "ui-mobile-rendering">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="stylesheet" href="/quickforms/css/quickforms/quickforms.css" />
	<script src = "/quickforms/js/require.min.js" ></script>
</head>
<body>
<div data-role="page" id="loadQuickformsTemplate">
	<script type="text/javascript">
	require(['/quickforms/js/quickforms.js'],function(){
			quickforms.registerReadyFunction(function()
			{
				require(['dom/form/tabPopup','dom/form/text','dom/form/fillDiv'], // Add the tabPopup module to the list. Every control in the dialog must be loaded here as well
					function(){
						quickforms.parseForm( //formId, app*, fact
							{formId:'formTemplate',
							fact:'factTable'});
					});
			});
		});
	</script>
	<div data-role ="content">
	<form id="formTemplate">
	
		<h1>Click below to open dialog</h1>
		<!-- IF LOADING ICON PERSISTS, CHECK DIALOG DIV ID (must be equal to html file name) -->
		<label for="carLink">Standard Dialog Example</label>
		<a id="carLink" href="carDialog.html" data-rel="dialog" data-theme="c" data-icon="plus" data-role="button" class="tabPopup" > -- Select a Car --</a>
		<label for="carsLink">fillDiv Dialog Example</label>
		<a id="carsLink" href="carsDialog.html" data-rel="dialog" data-theme="c" data-icon="plus" data-role="button" class="tabPopup" > -- Select Courses --</a>
		
		
		<div class="buttons">
			<a href = "../../templates.html" rel="external" data-role="button" data-icon="delete" data-theme="c">Cancel</a>
			<a href = "" onclick="quickforms.putFact(this)" data-role="button" data-icon="check" data-theme="b">Submit</a>
		</div>
	</form>
	</div>
</div>
</body>
</html>