<h1>Create a Database Data Source</h1>

Paste the following code in tomcat/conf/context.xml <br /><br />

&#60;Resource driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver" maxActive="15" maxIdle="5" <br />
            maxWait="5000" name="jdbc/[[appName]]" password="examplePassword" type="javax.sql.DataSource"  <br />
            url="jdbc:sqlserver://localhost:1433;autoReconnect=true" username="exampleUsername"/> <br />
			<br />
Make sure to change the "name" parameter to the name of the database
<br />
Wait for 30 seconds after saving, then navigate to <a href="/quickforms/">http://localhost/quickforms</a> to validate the connection